{% extends 'base.html' %}
{% load easy_thumbnails_tags %}

{% block content %}
    <div class="solid-inner-banner shadow blog"
         style="background-image: url('{% thumbnail current_page.image 1920x1000 crop subject_location=current_page.image.subject_location %}');">
        <h2 class="page-title" style="color: #fff;">{{ current_page.title }}</h2>
        <h4>Wyznaczamy kierunek biznesu. Online.</h4>
        {#        <ul class="page-breadcrumbs">#}
        {#            <li><a href="index.html">Home</a></li>#}
        {#            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>#}
        {#            <li>Jak pracujemy</li>#}
        {#        </ul>#}
    </div> <!-- /.solid-inner-banner -->
    <div class="our-blog blog-default pt-150 mb-200">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    {% for article in articles %}
                        {% if article.image_in_list %}
                            <div class="single-blog-post">
                                <a href="{{ article.get_absolute_url }}" class="img-holder"><img
                                        src="{% thumbnail article.image_in_list 770x422 crop subject_location=current_page.image.subject_location %}"
                                        alt="{{ article.image_in_list.alt }}"></a>
                                <div class="post-data">
                                    <a href="{{ article.get_absolute_url }}"
                                       class="date">{{ article.date|date:"d M, yy" }}</a>
                                    <h5 class="blog-title-two title"><a
                                            href="{{ article.get_absolute_url }}">{{ article.title }}</a></h5>
                                    {{ article.desc|safe }}
                                    <a href="{{ article.get_absolute_url }}" class="read-more"><i
                                            class="flaticon-next-1"></i></a>
                                </div> <!-- /.post-data -->
                            </div> <!-- /.single-blog-post -->
                        {% else %}
                            <div class="single-blog-post bg-solid-post hide-pr">
                                <div class="post-data">
                                    <a href="{{ article.get_absolute_url }}"
                                       class="date">{{ article.date|date:"d M, yy" }}</a>
                                    <h5 class="title"><a
                                            href="{{ article.get_absolute_url }}">{{ article.quotation_text }}</a></h5>
                                    <div class="author">{{ article.quotation_author }}</div>
                                </div> <!-- /.post-data -->
                            </div> <!-- /.single-blog-post -->
                        {% endif %}
                    {% endfor %}
                    {#                    <div class="pd-footer d-flex justify-content-between align-items-center pt-50">#}
                    {#                        <a href="#" class="theme-pager prev"><span class="flaticon-back"></span>#}
                    {#                            &nbsp;&nbsp;Previous</a>#}
                    {#                        <a href="#" class="theme-pager next">Next &nbsp;&nbsp;<span class="flaticon-next"></span></a>#}
                    {#                    </div> <!-- /.pd-footer -->#}
                </div> <!-- /.col- -->

                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="theme-sidebar-widget">
                        <!--                        <div class="single-block mb-80">-->
                        <!--                            <form action="#" class="sidebar-search">-->
                        <!--                                <input type="text" placeholder="Search">-->
                        <!--                                <button><i class="fa fa-search" aria-hidden="true"></i></button>-->
                        <!--                            </form>-->
                        <!--                        </div> &lt;!&ndash; /.single-block &ndash;&gt;-->
                        <div class="single-block mb-80">
                            <h4 class="sidebar-title">Chętnie czytane</h4>
                            <ul class="recent-news-item">
                                {% for article in popular %}
                                    <li>
                                        <h6 class="rn-title"><a
                                                href="{{ article.get_absolute_url }}">{{ article.title }}</a></h6>
                                        <div class="date">{{ article.date|date:"d M, yy" }}</div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div> <!-- /.single-block -->
                        <div class="single-block">
                            <h4 class="sidebar-title">Kierunek:</h4>
                            <ul class="keywords-tag clearfix">
                                {% for keyword in keywords %}
                                    <li><a href="{{ keyword.get_absolute_url }}">{{ keyword.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div> <!-- /.single-block -->
                    </div> <!-- /.theme-sidebar-widget -->
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.our-blog -->

{% endblock %}